*{
   margin: 0px;
}

label {
   margin: 10px;
}

.center {
   position: absolute;
   left: 45%;
   top: 60%;
   border: 10px solid yellowgreen;
}

* {
   padding: 0px;
   margin: 0px;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

body {

   font-family: montserrat;

}

nav {
   background: #000282;
   height: 80px;
   width: 100%;

}

.logo {
   color: rgb(255, 255, 255);
   font-size: 35px;
}
.header{
margin: 30px;
color: bisque;
}
.red{
   padding: 20px;
   margin-right: 50px;
   padding-left: 550px;
}
